*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
     margin-left: 20px;
 }
.ml-100 {
    margin-left: 100px;
}
.mr-5 {
    margin-right: 5px;
}
.pd-10 {
    padding: 10px 0;
}
.button_01 {
    type: success;
    width: 120px;
    text-align: center;
}

.button_station {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 40px;
}
.w_500{
    width: 500px;

}

